:root {
  --bs-primary: #b55f48;
  --bs-secondary: black;
}

h1 {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 75px auto;
  background-color: white;
  padding: 30px;
}

body {
  background-color: pink;
}

body {
  background-color: blue;
}
h1 {
  text-decoration: none;
  color: var(--bs-primary);
}
